*{
    margin: 0;
    padding: 0;
}
body {
    padding: 10px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}
.header-container{
    /* border: 2px solid red; */
    display: grid;
    padding: 1vw;
    /* grid-template-columns: 12% 12% 76%; */
    grid-template-columns: auto auto auto;

}

form{
    display: flex;
    justify-content: space-between;
}

.search{
    outline: none;
    border: 1px solid rgb(135, 134, 134);
    border-radius: 20px;
    width: 30vw;
    height: 40px;
    padding: 5px;
}

.flex{

    display: flex;
}

.categories{
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 24vw 24vw 24vw 24vw;
}